nore-red.json
[
    {
        "id": "b49a9d53275768e5",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abf7079a.653be8",
        "type": "mqtt in",
        "z": "b49a9d53275768e5",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 690,
        "y": 520,
        "wires": [
            [
                "cc79021b.9a751",
                "a117c5430dc3ed78",
                "21eae8f8.2971b8"
            ]
        ]
    },
    {
        "id": "cc79021b.9a751",
        "type": "debug",
        "z": "b49a9d53275768e5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 887,
        "y": 487,
        "wires": []
    },
    {
        "id": "4aecba01.78ce64",
        "type": "mqtt in",
        "z": "b49a9d53275768e5",
        "name": "",
        "topic": "esp32/humidity",
        "qos": "2",
        "broker": "10e78a89.5b4fd5",
        "inputs": 0,
        "x": 743,
        "y": 351,
        "wires": [
            [
                "22efa7b7.544a28",
                "df37e6b7.64c1c8",
                "5629f0ef20542ab4"
            ]
        ]
    },
    {
        "id": "22efa7b7.544a28",
        "type": "debug",
        "z": "b49a9d53275768e5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 940,
        "y": 318,
        "wires": []
    },
    {
        "id": "df37e6b7.64c1c8",
        "type": "ui_gauge",
        "z": "b49a9d53275768e5",
        "name": "",
        "group": "852353c46c5cc194",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "gauge",
        "x": 930,
        "y": 378,
        "wires": []
    },
    {
        "id": "ae89029e2cd44e25",
        "type": "mqtt in",
        "z": "b49a9d53275768e5",
        "name": "",
        "topic": "esp32/tiltmeter",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 720,
        "y": 700,
        "wires": [
            [
                "09c266955324014e",
                "31b267ee1373a680",
                "56ad2f349a57ea32"
            ]
        ]
    },
    {
        "id": "09c266955324014e",
        "type": "debug",
        "z": "b49a9d53275768e5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 917,
        "y": 667,
        "wires": []
    },
    {
        "id": "31b267ee1373a680",
        "type": "ui_gauge",
        "z": "b49a9d53275768e5",
        "name": "",
        "group": "1cb31e490d78ad5b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Tilt",
        "label": "°",
        "format": "{{value}}",
        "min": "-90",
        "max": "90",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "gauge",
        "x": 897,
        "y": 727,
        "wires": []
    },
    {
        "id": "cbae7524612c3b81",
        "type": "mqtt in",
        "z": "b49a9d53275768e5",
        "name": "",
        "topic": "esp32/potentiometer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 720,
        "y": 160,
        "wires": [
            [
                "d038cb859a995adb",
                "99b66e780418b882",
                "4f7241a64aeb7df3"
            ]
        ]
    },
    {
        "id": "d038cb859a995adb",
        "type": "debug",
        "z": "b49a9d53275768e5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "99b66e780418b882",
        "type": "ui_gauge",
        "z": "b49a9d53275768e5",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Speedometer",
        "label": "km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "gauge",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "a117c5430dc3ed78",
        "type": "ui_gauge",
        "z": "b49a9d53275768e5",
        "name": "",
        "group": "080882a35d869864",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "gauge",
        "x": 890,
        "y": 600,
        "wires": []
    },
    {
        "id": "5629f0ef20542ab4",
        "type": "ui_chart",
        "z": "b49a9d53275768e5",
        "name": "",
        "group": "852353c46c5cc194",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "graph",
        "x": 960,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4f7241a64aeb7df3",
        "type": "ui_chart",
        "z": "b49a9d53275768e5",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Velocity Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "graph",
        "x": 940,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "56ad2f349a57ea32",
        "type": "ui_chart",
        "z": "b49a9d53275768e5",
        "name": "",
        "group": "1cb31e490d78ad5b",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Tilt Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-90",
        "ymax": "90",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "graph",
        "x": 900,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "21eae8f8.2971b8",
        "type": "ui_chart",
        "z": "b49a9d53275768e5",
        "name": "",
        "group": "080882a35d869864",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature Graph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "graph",
        "x": 950,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "852353c46c5cc194",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "e7c46d5e.a1283",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1cb31e490d78ad5b",
        "type": "ui_group",
        "name": "Tilt",
        "tab": "e7c46d5e.a1283",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Velocity",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "080882a35d869864",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "e7c46d5e.a1283",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    }
]